<div class="row pb-5">
  <div class="col">
    <a class="btn btn-primary btn-sm" href="<%= new_note_path %>">μƒ λ…ΈνΈ</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row note-list-container">
      <% @notes.each do |note| %>
        <div class="col-12">
          <a href="<%= note_path(note) %>">
          <div class="card note">
            <div class="card-body">
              <%= note.title %>
              <span class="note-tags">
                <% note.tags.each do |tag| %>
                  <span>#<%= tag.name %></span>
                <% end %>
              </span>
            </div>
          </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>


