
<div class="row">
  <div class="col">
    <h2>새 노트</h2>
  </div>
</div>

<div class="row">
  <div class="col mt-3">
    <%= render 'form', note: @note %>
  </div>
</div>


<%= link_to '뒤로', notes_path %>
